* {
  outline: 0 !important; }

html {
  max-width: 1920px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: black;
  padding-top: 0; }
  @media (min-width: 768px) {
    body {
      padding-left: 20rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  color: #343a40;
  margin: 1.5rem auto 1rem; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.1rem; }

p {
  margin-bottom: 0.8rem; }

hr {
  margin: 0; }

@media (min-width: 768px) {
  header nav {
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 20rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    header nav .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 1rem auto 1rem auto;
      padding: 0.5rem; }
    header nav .navbar-toggler {
      padding: 0.25rem 0.5rem;
      margin-right: 0.2rem;
      color: #343a40;
      background-color: transparent;
      font-size: 1.25rem;
      line-height: 1;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: .25rem; }
    header nav .img-profile {
      max-width: 18rem;
      max-height: 18rem;
      border-width: 0.4rem;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.1); } }

@media (min-width: 768px) {
  header nav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto; } }

@media (min-width: 768px) {
  header nav .navbar-collapse .navbar-nav {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%; } }

@media (min-width: 768px) {
  header nav .navbar-collapse .navbar-nav .nav-item {
    display: block; } }

header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.4rem 0.1rem; }
  @media (min-width: 768px) {
    header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #6eb4ff; }
      header nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: white; }
      header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
        color: white !important; } }

section {
  min-height: 100vh;
  padding: 3.3rem 1rem 1rem 1rem; }
  @media (min-width: 768px) {
    section {
      padding: 0.5rem 2rem 1rem 2rem; } }
  section#bibliography ul {
    list-style: none;
    padding: 0; }
    section#bibliography ul li {
      margin: 0 0 1rem 0;
      border: 1px solid #fefefe;
      background-color: white; }
      section#bibliography ul li div.header {
        border: none;
        background-color: white;
        padding-left: 0; }
        section#bibliography ul li div.header h2 {
          font-family: "Open Sans", sans-serif;
          font-size: 1rem;
          font-weight: bold;
          margin: 0.2rem 0 0.2rem 0; }
          section#bibliography ul li div.header h2 span.badge {
            margin-right: 0.5rem;
            background-color: gainsboro;
            font-size: 90%; }
          section#bibliography ul li div.header h2 small {
            color: #6c757d;
            line-height: 2rem; }
      section#bibliography ul li div.body {
        font-size: 0.9rem;
        background-color: aliceblue;
        padding: 0.8rem 1.1rem;
        border-radius: 0.5rem;
        overflow: hidden; }
        section#bibliography ul li div.body div.images {
          float: left;
          max-width: 22rem;
          margin-right: 5px; }
          section#bibliography ul li div.body div.images img {
            height: 7rem;
            margin: 0.2rem 0.5rem 0.3rem 0; }
            @media (min-width: 768px) {
              section#bibliography ul li div.body div.images img {
                height: 12rem;
                margin: 0.3rem 0.7rem 0.7rem 0; } }
  section#video div.media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap; }
    section#video div.media-container div.media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      flex-flow: column;
      margin: 1rem 1rem 1rem 0;
      max-width: 320px;
      max-height: 320px;
      overflow: hidden hidden;
      border-radius: 5px; }
      section#video div.media-container div.media div.media-body {
        font-size: 75%; }
        section#video div.media-container div.media div.media-body div.media-body p {
          margin-bottom: 0.4rem; }
  section#contacts ul li {
    margin-bottom: 0.5rem; }
    section#contacts ul li span {
      margin-left: 0.5rem; }
