@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

* {
  outline: 0 !important; }

html {
  max-width: 1600px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: black;
  padding-top: 0; }
  @media (min-width: 768px) {
    body {
      padding-left: 20rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  color: #343a40;
  margin: 1.5rem auto 1.5rem; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.8rem; }

p {
  margin-bottom: 0.8rem; }

hr {
  margin: 0; }

header nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  display: block;
  background-color: #007bff;
  min-height: 45px; }
  @media (min-width: 768px) {
    header nav {
      position: fixed;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: 1030;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 20rem;
      height: auto;
      text-align: center; } }
  header nav .logo {
    display: none;
    margin: 1rem auto 1rem auto;
    padding: 1rem; }
    @media (min-width: 768px) {
      header nav .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    header nav .logo img {
      display: none; }
      @media (min-width: 768px) {
        header nav .logo img {
          display: flex;
          max-width: 17rem;
          max-height: 17rem;
          border-width: 0.4rem;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.1); } }
  header nav div.mobile-logo {
    display: flex;
    align-items: center; }
    @media (min-width: 768px) {
      header nav div.mobile-logo {
        display: none; } }
    header nav div.mobile-logo h1 {
      margin: 5px 5px;
      padding: 0;
      color: white;
      font-size: 1.5rem; }
    header nav div.mobile-logo button.toggler {
      margin: 0.8rem 1rem 0.5rem 1rem;
      padding: 0;
      color: white;
      background-color: #007bff;
      border: none;
      font-size: 1.25rem;
      line-height: 1; }
  header nav ul {
    list-style: none;
    margin: 0.5rem 0 0.8rem 1rem;
    padding: 0; }
    header nav ul.hide {
      display: none; }
    @media (min-width: 768px) {
      header nav ul {
        margin: 0; }
        header nav ul.hide {
          display: block; } }
    header nav ul li {
      margin: 0;
      padding: 0; }
      @media (min-width: 768px) {
        header nav ul li {
          display: block; } }
      header nav ul li a {
        display: block;
        padding: 0.1rem 0;
        color: #6eb4ff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 600; }
        header nav ul li a:hover {
          text-decoration: none;
          color: white; }
        header nav ul li a.active {
          color: white !important; }
        @media (min-width: 768px) {
          header nav ul li a {
            padding: 0.3rem 0.1rem;
            font-size: 1.1rem;
            font-weight: 800; } }

section {
  min-height: 100vh;
  padding: 2.3rem 1rem 1rem 1rem; }
  section p {
    text-align: justify; }
  @media (min-width: 768px) {
    section {
      padding: 0.5rem 2rem 2rem 2rem; } }
  section#articles ol {
    counter-reset: list1;
    list-style-position: outside;
    margin: 0;
    padding: 0; }
    section#articles ol li {
      list-style-type: none;
      display: flex;
      margin: 0.5rem 0;
      padding: 0;
      text-align: justify; }
      section#articles ol li:before {
        display: inline-block;
        min-width: 2rem;
        margin-right: 0.5rem;
        padding: 0.25em 0.4em;
        font-size: 90%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 5px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        counter-increment: list1;
        content: counter(list1) ". ";
        background-color: gainsboro; }
      section#articles ol li.div {
        margin: 1.1rem 0;
        padding: 0.5rem 0.9rem;
        border-radius: 5px;
        background-color: aliceblue; }
        section#articles ol li.div:before {
          display: none;
          counter-increment: none;
          content: ""; }
  section#bibliography ul {
    list-style: none;
    padding: 0; }
    section#bibliography ul li {
      margin: 0 0 1rem 0;
      border: 1px solid #fefefe;
      background-color: white; }
      section#bibliography ul li div.header {
        border: none;
        background-color: white;
        padding-left: 0; }
        section#bibliography ul li div.header h2 {
          margin: 0.2rem 0 0.2rem 0;
          font-family: "Open Sans", sans-serif;
          font-size: 1rem;
          font-weight: bold; }
          section#bibliography ul li div.header h2 span.badge {
            margin-right: 0.5rem;
            background-color: gainsboro;
            font-size: 90%; }
          section#bibliography ul li div.header h2 small {
            display: block;
            margin: 0.5rem 0;
            color: #6c757d;
            line-height: 1rem; }
      section#bibliography ul li div.body {
        font-size: 0.9rem;
        background-color: aliceblue;
        padding: 0.8rem 1.1rem;
        border-radius: 5px;
        overflow: hidden; }
        section#bibliography ul li div.body div.images {
          float: left;
          max-width: 22rem;
          margin-right: 5px; }
          section#bibliography ul li div.body div.images img {
            height: 7rem;
            margin: 0.2rem 0.5rem 0.3rem 0; }
            @media (min-width: 768px) {
              section#bibliography ul li div.body div.images img {
                height: 12rem;
                margin: 0.3rem 0.7rem 0.7rem 0; } }
  section#video div.media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap; }
    section#video div.media-container div.media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      flex-flow: column;
      margin: 1rem 1rem 1rem 0;
      width: 320px;
      overflow: hidden hidden;
      border-radius: 5px; }
      section#video div.media-container div.media div.media-body {
        font-size: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        /* Добавляем собственный маркер для открытого состояния */ }
        section#video div.media-container div.media div.media-body p {
          margin-bottom: 0.4rem; }
        section#video div.media-container div.media div.media-body details[open] summary:before {
          content: '\f146'; }
        section#video div.media-container div.media div.media-body details {
          /* Убираем стандартный маркер Firefox */ }
          section#video div.media-container div.media div.media-body details > summary {
            list-style: none; }
          section#video div.media-container div.media div.media-body details summary {
            margin-bottom: 0.3rem;
            /* Убираем стандартный маркер Chrome */
            /* Добавляем собственный маркер для закрытого состояния */ }
            section#video div.media-container div.media div.media-body details summary::-webkit-details-marker {
              display: none; }
            section#video div.media-container div.media div.media-body details summary:before {
              content: '\f0fe';
              font-family: "Font Awesome 5 free", serif;
              margin-right: 7px; }
  section#photo div.media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    section#photo div.media-container div.media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      flex-flow: column;
      margin: 1rem 1rem 1rem 0;
      max-width: 280px;
      max-height: 280px;
      overflow: hidden hidden;
      border-radius: 5px; }
      section#photo div.media-container div.media img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer; }
      section#photo div.media-container div.media div.media-body {
        font-size: 75%; }
  section#contacts ul li {
    margin-bottom: 0.5rem; }
    section#contacts ul li span {
      margin-left: 0.5rem; }
