* {
  outline: 0 !important;
}

html {
}

body {
  font-family: $common-font;
  font-size: 1rem;
  color: $common-font-color;
  padding-top: 0;

  @media (min-width: $mobile-max-width) {
    padding-left: 20rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $headers-font-color;
  margin: 1.5rem auto 1rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  margin-bottom: 0.8rem;
}

hr {
  margin: 0;
}
