
// Для экранов шириной > 768px.
@media (min-width: $mobile-max-width) {}

header nav {
  position: fixed;

  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  display: block;
  background-color: #007bff;

  min-height: $mobile-nav-min-height;

  @media (min-width: $mobile-max-width) {
    position: fixed;

    top: 0;
    right: auto;
    bottom: 0;
    left: 0;

    z-index: 1030;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include flex-direction-column;
    justify-content: flex-start;
    align-items: center;

    width: 20rem;
    height: auto;

    text-align: center;
  }

  .logo {
    display: none;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    @media (min-width: $mobile-max-width) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    img {
      display: none;
      @media (min-width: $mobile-max-width) {
        display: flex;
        max-width: 17rem;
        max-height: 17rem;
        border: {
          width: 0.4rem;
          style: solid;
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  div.mobile-logo {
    display: flex;
    align-items: center;
    @media (min-width: $mobile-max-width) {
      display: none;
    }

    h1 {
      margin: 5px 5px;
      padding: 0;
      color: $secondary-font-color;
      font-size: 1.5rem;
    }

    button.toggler {
      margin: 0.8rem 1rem 0.5rem 1rem;
      padding: 0;
      color: white;
      background-color: $secondary-background-color;
      border: none;
      font: {
        size: 1.25rem;
      }
      line-height: 1;
    }
  }

  ul {
    list-style: none;
    margin: 0.5rem 0 0.8rem 1rem;
    padding: 0;
    &.hide {
      display: none;
    }
    @media (min-width: $mobile-max-width) {
      margin: 0;
      &.hide {
        display: block;
      }
    }

    li {
      margin: 0;
      padding: 0;
      @media (min-width: $mobile-max-width) {
        display: block;
      }

      a {
        display: block;
        padding: 0.1rem 0;
        color: $links-font-color;
        text-transform: uppercase;
        text-decoration: none;
        font: {
          size: 0.9rem;
          weight: 600;
        }
        &:hover {
          text-decoration: none;
          color: $links-hover-font-color;
        }
        &.active {
          color: $links-hover-font-color !important;
        }
        @media (min-width: $mobile-max-width) {
          padding: 0.3rem 0.1rem;
          font: {
            size: 1.1rem;
            weight: 800;
          }
        }
      }
    }
  }
}

section {
  min-height: 100vh;
  padding: 2.3rem 1rem 1rem 1rem;

  p {
    text-align: justify;
  }

  @media (min-width: $mobile-max-width) {
    padding: 0.5rem 2rem 2rem 2rem;
  }

  &#articles {

    ol {
      counter-reset: list1;
      list-style-position: outside;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;

        display: flex;
        margin: 0.5rem 0;
        padding: 0;

        text-align: justify;

        &:before {
          display: inline-block;

          min-width: 2rem;
          margin-right: 0.5rem;
          padding: 0.25em 0.4em;

          font-size: 90%;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;

          border-radius: $border-radius;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

          counter-increment: list1;
          content: counter(list1) ". ";
          background-color: gainsboro;
        }

        &.div {
          margin: 1.1rem 0;
          padding: 0.5rem 0.9rem;
          border-radius: $border-radius;
          background-color: aliceblue;

          &:before {
            display: none;
            counter-increment: none;
            content: "";
          }
        }
      }
    }
  }

  &#bibliography {

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 0 1rem 0;
        border: 1px solid #fefefe;
        background-color: white;

        div.header {
          border: none;
          background-color: white;
          padding-left: 0;

          h2 {
            margin: 0.2rem 0 0.2rem 0;
            font: {
              family: $common-font-family;
              size: $common-font-size;
              weight: bold;
            }

            span.badge {
              margin-right: 0.5rem;
              background-color: gainsboro;
              font: {
                size: 90%;
              }
            }

            small {
              display: block;
              margin: 0.5rem 0;
              color: #6c757d;
              line-height: 1rem;
            }
          }
        }

        div.body {
          font-size: 0.9rem;
          background-color: aliceblue;
          padding: 0.8rem 1.1rem;
          border: {
            radius: $border-radius;
          }
          overflow: hidden;

          div.images {
            float: left;
            max-width: 22rem;
            margin-right: 5px;

            img {
              height: 7rem;
              margin: 0.2rem 0.5rem 0.3rem 0;
              @media (min-width: $mobile-max-width) {
                height: 12rem;
                margin: 0.3rem 0.7rem 0.7rem 0;
              }
            }
          }

          div.description {
          }
        }
      }
    }
  }

  &#video {

    div.media-container {
      @include display-flex;
      @include flex-align-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      div.media {
        @include display-flex;
        @include flex-align-start;
        flex-flow: column;
        margin: 1rem 1rem 1rem 0;
        width: $video-container-width;
        overflow: hidden hidden;
        border: {
          radius: $border-radius;
        }

        div.media-body {
          font-size: 75%;
          overflow: hidden;
          text-overflow: ellipsis;

          p {
            margin-bottom: 0.4rem;
          }

          /* Добавляем собственный маркер для открытого состояния */
          details[open] summary:before {
            content: '\f146';
          }

          details {

            /* Убираем стандартный маркер Firefox */
            & > summary {
              list-style: none;
            }

            summary {
              margin-bottom: 0.3rem;

              /* Убираем стандартный маркер Chrome */
              &::-webkit-details-marker {
                display: none
              }

              /* Добавляем собственный маркер для закрытого состояния */
              &:before {
                content: '\f0fe';
                font-family: "Font Awesome 5 free", serif;
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  &#photo {

    div.media-container {
      @include display-flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      div.media {
        @include display-flex;
        @include flex-align-start;
        flex-flow: column;
        margin: 1rem 1rem 1rem 0;
        max-width: $photo-container-size;
        max-height: $photo-container-size;
        overflow: hidden hidden;
        border: {
          radius: $border-radius;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        div.media-body {
          font-size: 75%;
        }
      }
    }
  }

  &#contacts {

    ul {

      li {
        margin-bottom: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
