section {

  min-height: 100vh;
  padding: 3.3rem 1rem 1rem 1rem;

  &#bibliography {

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 0 1rem 0;
        border: 1px solid #fefefe;
        background-color: white;

        div.header {
          border: none;
          background-color: white;
          padding-left: 0;

          h2 {
            font-family: $common-font;
            font-size: 1rem;
            font-weight: bold;
            margin: 0.2rem 0 0.2rem 0;

            span.badge {
              margin-right: 0.5rem;
              background-color: gainsboro;
              font-size: 90%;
            }

            small {
              color: #6c757d;
              line-height: 2rem;
            }
          }
        }

        div.body {
          font-size: 0.9rem;
          background-color: aliceblue;
          padding: 0.8rem 1.1rem;
          border-radius: 0.5rem;
          overflow: hidden;

          div.images {
            float: left;
            max-width: 22rem;
            margin-right: 5px;

            img {
              height: 7rem;
              margin: 0.2rem 0.5rem 0.3rem 0;
            }
          }

          div.description {
          }
        }
      }
    }
  }

  &#video {

    div.media-container {
      @extend %flex-base;

      justify-content: flex-start;
      flex-wrap: wrap;

      div.media {
        @extend %flex-base;

        flex-flow: column;

        margin: 1rem 1rem 1rem 0;
        max-width: 320px;
        max-height: 320px;

        overflow: hidden hidden;

        border-radius: 5px;

        div.media-body {
          font-size: 75%;

          div.media-body p {
            margin-bottom: 0.4rem;
          }
        }
      }
    }
  }

  &#contacts {

    ul {

      li {
        margin-bottom: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

#sideNav {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;

          font-size: 1.1rem;
          font-weight: 800;
          letter-spacing: .05rem;
          text-transform: uppercase;

          display: block;
          opacity: 1;

          padding: 0.4rem 0.1rem;
        }
      }
    }
  }
}
