
// Для экранов шириной > 768px.
@media (min-width: $mobile-max-width) {}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  display: none;

  width: auto;
  height: 10rem;

  @media (min-width: $mobile-max-width) {

    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 1030;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include flex-direction-column;
    justify-content: flex-start;
    align-items: center;

    width: 20rem;
    height: auto;

    text-align: center;

    background-color: #007bff !important;
  }

  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 1rem auto 1rem auto;
    padding: 1rem;

    h1 {
      display: flex;
      color: white;
      font-size: 1rem;
      @media (min-width: $mobile-max-width) {
        display: none;
      }
    }

    img {
      display: none;
      @media (min-width: $mobile-max-width) {
        display: flex;
        max-width: 17rem;
        max-height: 17rem;
        border: {
          width: 0.4rem;
          style: solid;
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  button.nav-toggler {
    display: none;

    margin-right: 0.2rem;
    padding: 0.25rem 0.5rem;
    color: $headers-font-color;
    background-color: transparent;
    font: {
      size: 1.25rem;
    }
    line-height: 1;
    border: {
      width: 1px;
      style: solid;
      color: transparent;
      radius: .25rem;
    }
  }

  .navbar-collapse {
    @media (min-width: $mobile-max-width) {
      @include display-flex;
      @include flex-align-start;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }

    .navbar-nav {
      @media (min-width: $mobile-max-width) {
        @include flex-direction-column;
        width: 100%;
      }

      .nav-item {
        @media (min-width: $mobile-max-width) {
          display: block;
        }

        .nav-link {
          display: block;
          padding: 0.3rem 0.1rem;
          color: white;
          font: {
            size: 1.1rem;
            weight: 800;
          }
          text-transform: uppercase;
          @media (min-width: $mobile-max-width) {
            color: #6eb4ff;

            &:hover {
              color: white;
            }

            &.active {
              color: white !important;
            }
          }
        }
      }
    }
  }
}

section {
  min-height: 100vh;
  padding: 3.3rem 1rem 1rem 1rem;

  p {
    text-align: justify;
  }

  @media (min-width: $mobile-max-width) {
    padding: 0.5rem 2rem 2rem 2rem;
  }

  &#articles {

    ol {
      counter-reset: list1;
      list-style-position: outside;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;

        display: flex;
        margin: 0.5rem 0;
        padding: 0;

        text-align: justify;

        &:before {
          display: inline-block;

          min-width: 2rem;
          margin-right: 0.5rem;
          padding: 0.25em 0.4em;

          font-size: 90%;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;

          border-radius: .25rem;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

          counter-increment: list1;
          content: counter(list1) ". ";
          background-color: gainsboro;
        }

        &.div {
          margin: 1.1rem 0;
          padding: 0.5rem 0.9rem;
          border-radius: 0.5rem;
          background-color: aliceblue;

          &:before {
            display: none;
            counter-increment: none;
            content: "";
          }
        }
      }
    }
  }

  &#bibliography {

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 0 1rem 0;
        border: 1px solid #fefefe;
        background-color: white;

        div.header {
          border: none;
          background-color: white;
          padding-left: 0;

          h2 {
            margin: 0.2rem 0 0.2rem 0;
            font: {
              family: $common-font-family;
              size: $common-font-size;
              weight: bold;
            }

            span.badge {
              margin-right: 0.5rem;
              background-color: gainsboro;
              font: {
                size: 90%;
              }
            }

            small {
              display: block;
              margin: 0.5rem 0;
              color: #6c757d;
              line-height: 1rem;
            }
          }
        }

        div.body {
          font-size: 0.9rem;
          background-color: aliceblue;
          padding: 0.8rem 1.1rem;
          border: {
            radius: 0.5rem;
          }
          overflow: hidden;

          div.images {
            float: left;
            max-width: 22rem;
            margin-right: 5px;

            img {
              height: 7rem;
              margin: 0.2rem 0.5rem 0.3rem 0;
              @media (min-width: $mobile-max-width) {
                height: 12rem;
                margin: 0.3rem 0.7rem 0.7rem 0;
              }
            }
          }

          div.description {
          }
        }
      }
    }
  }

  &#video {

    div.media-container {
      @include display-flex;
      @include flex-align-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      div.media {
        @include display-flex;
        @include flex-align-start;
        flex-flow: column;
        margin: 1rem 1rem 1rem 0;
        width: $video-container-width;
        // max-height: $video-container-height;
        overflow: hidden hidden;
        border: {
          radius: 5px;
        }

        div.media-body {
          font-size: 75%;
          overflow: hidden;
          text-overflow: ellipsis;

          p {
            // border: 1px solid red;
            margin-bottom: 0.4rem;
          }

          /* Добавляем собственный маркер для открытого состояния */
          details[open] summary:before {
            content: '\f146';
          }

          details {

            /* Убираем стандартный маркер Firefox */
            & > summary {
              list-style: none;
            }

            summary {
              margin-bottom: 0.3rem;

              /* Убираем стандартный маркер Chrome */
              &::-webkit-details-marker {
                display: none
              }

              /* Добавляем собственный маркер для закрытого состояния */
              &:before {
                content: '\f0fe';
                font-family: "Font Awesome 5 free", serif;
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  &#photo {

    div.media-container {
      @include display-flex;
      @include flex-align-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      div.media {
        @include display-flex;
        @include flex-align-start;
        flex-flow: column;
        margin: 1rem 1rem 1rem 0;
        max-width: $photo-container-size;
        max-height: $photo-container-size;
        overflow: hidden hidden;
        border: {
          radius: 5px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        div.media-body {
          font-size: 75%;
        }
      }
    }
  }

  &#contacts {

    ul {

      li {
        margin-bottom: 0.5rem;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
