.icon-custom {
  display: inline-block;
  width: 1rem;
  height: 1.1rem;
  margin: 0 0.1rem 0 0.5rem;
}

nav {
  a {
    .nav-link {
      color: #6eb4ff;
      &:hover {
        color: white;
      }
    }
  }
}
