// Fonts

// https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

// https://fonts.googleapis.com/css?family=Oswald:600&amp;subset=cyrillic
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

$common-font-family: 'Open Sans', sans-serif;
$headers-font-family: 'Oswald', sans-serif;

$common-font-size: 1rem;
$headers-font-size: 2rem;

// Colors
$headers-font-color: #343a40;
$common-font-color: black;

// Media width
$mobile-max-width: 768px;

// Mixins

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin flex-direction-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

// Media-container box edge size (width / height)
$media-container-size: 280px;
