// Fonts

// https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

// https://fonts.googleapis.com/css?family=Oswald:600&amp;subset=cyrillic
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

$common-font-family: 'Open Sans', sans-serif;
$headers-font-family: 'Oswald', sans-serif;

$common-font-size: 1rem;
$headers-font-size: 2rem;

// Colors

$primary-font-color: black;
$secondary-font-color: white;

$headers-font-color: #343a40;
$links-font-color: #6eb4ff;
$links-hover-font-color: white;

$primary-background-color: #ffffff;
$secondary-background-color: #007bff;

// Media width
$mobile-max-width: 768px;

// Nav min height
$mobile-nav-min-height: 45px;

// Mixins

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin flex-direction-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

// Media-container box edge size (width / height)
$photo-container-size: 280px;
$video-container-width: 320px;
$video-container-height: 280px;

// Global border radius (for buttons, cards & other)
$border-radius: 5px;
