<!doctype html>
<html lang="ru">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Project icon -->
<link rel="icon" type="image/ico" href="favicon.ico">

<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Awesome icons -->
<link href="/css/fontawesome.css" rel="stylesheet">

<!-- Custom styles -->
<link href="/css/app.css" rel="stylesheet">

<title>Профессор Алексеев Александр Алексеевич</title>

</head>

<body>

<header>
    <nav>
        <a class="logo" href="/">
            <img class="rounded-circle" src="/images/avatars/alexeev_top_squared.jpg" alt="Профессор Алексеев А. А.">
        </a>
        <div class="mobile-logo">
            <button id="toggler-button" class="toggler" title="Переключение навигации">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <h1>
                Персональный сайт Профессора Алексеева А. А.
            </h1>
        </div>
        <ul id="main-menu">
            <li><a href="#about">О профессоре</a></li>
            <li><a href="#theory">Суть теории</a></li>
            <li><a href="#articles">Статьи и интервью</a></li>
            <li><a href="#bibliography">Библиография</a></li>
            <li><a href="#photo">Фото</a></li>
            <li><a href="#video">Видео</a></li>
            <li><a href="#contacts">Контакты</a></li>
        </ul>
    </nav>
</header>

<main>

    <section id="about">
        <article>
            <h1 class="text-uppercase">
                О профессоре
            </h1>
            <div class="about-container" id="about-container">
                <!-- Список "О профессоре". -->
            </div>
        </article>
    </section>

    <hr>

    <section id="theory">
        <article>
            <h1 class="text-uppercase">
                Суть соединительнотканной теории медицины и биологии
            </h1>
            <div class="theory-container" id="theory-container">
                <!-- Список "Теория". -->
            </div>
        </article>
    </section>

    <hr>

    <section id="articles">
        <article>
            <h1 class="text-uppercase">
                Статьи и интервью
            </h1>
            <ol id="articles-container">
                <!-- Список "Статьи". -->
            </ol>
        </article>
    </section>

    <hr>

    <section id="bibliography">

        <article>
            <h1 class="text-uppercase">
                Библиография
            </h1>
            <ul id="bibliography-container">
                <!-- Список "Библиография". -->
            </ul>
        </article>

        <hr class="my-5">

        <article>
            <h3>
                Книги д. м. н. Алексеева А. А. можно приобрести:
            </h3>
            <ul>
                <li>
                    В онлайн магазине <a href="https://www.ozon.ru/person/344178/">"OZON"</a>.
                </li>
                <li>
                    По телефону:
                    <strong>+7 (926) 528 84 86</strong>.
                </li>
            </ul>
        </article>

    </section>

    <hr>

    <section id="photo">
        <article>
            <h1 class="text-uppercase">
                Фото
            </h1>
            <div class="media-container" id="photo-container">
                <!-- Список "Фото". -->
            </div>
        </article>
    </section>

    <hr>

    <section id="video">
        <article>
            <h1 class="text-uppercase">
                Видео
            </h1>
            <div class="media-container" id="video-container">
                <!-- Список "Видео". -->
            </div>
        </article>
    </section>

    <hr>

    <section id="contacts">
        <article>
            <h1 class="text-uppercase">
                Контакты
            </h1>
            <div class="contacts-container" id="contacts-container">
                <!-- Список "Контакты". -->
            </div>
        </article>
    </section>

</main>

<!-- Шаблон элемента списка "О профессоре". -->

<template id="about-item">
    {{ text }}
</template>

<!-- Шаблон элемента списка "Теория". -->

<template id="theory-item">
    {{ text }}
</template>

<!-- Шаблон элемента списка "Статьи". -->

<template id="articles-item">
    {{ text }}
</template>

<!-- Шаблон элемента списка "Библиография". -->

<template id="bibliography-item">
    <li>
        <div class="header">
            <h2>
                <span class="badge badge-light">
                    {{ id }}.
                </span>
                {{ name }}
                <small>
                    <strong>{{ authors }}</strong>
                    <em class="ml-2">{{ description }}</em>
                </small>
            </h2>
        </div>
        <div class="body">
            <div class="images">
                {{ images }}
            </div>
            <div class="description">
                {{ paragraphs }}
            </div>
        </div>
    </li>
</template>

<!-- Шаблон элемента списка "Фото". -->

<template id="photo-item">
    <div class="media">
        <img src="/images/sections/photo/{{ name }}.jpg" onClick="open_popup(this, 1); return false;" alt="{{ alt }}">
    </div>
</template>

<!-- Шаблон элемента списка "Видео". -->

<template id="video-item">
    <div class="media">
        <a href="https://www.youtube.com/embed/{{ code }}" onClick="open_popup(this); return false;">
            <img src="https://img.youtube.com/vi/{{ code }}/mqdefault.jpg" alt="">
        </a>
        <div class="media-body">
            <h6 class="mt-3 mb-2">
                {{ caption }}
            </h6>
            {{ paragraphs }}
        </div>
    </div>
</template>

<!-- Шаблон элемента списка "Контакты". -->

<template id="contact-item">
    <p>
        {{ text }}
    </p>
</template>

<!-- Optional JavaScript -->

<!-- jQuery first -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- Plugin for easing effect -->
<script src="js/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.js"></script>

</body>

</html>
